#formulario-contacto .form-control {
  width: 100%;
  padding: 1em 1em;
  background-color: #f5f5f5;
  border-radius: 0;
  border: 1px solid #ccc;
  transition: border-color 0.2s ease-in-out;
}

#formulario-contacto .form-control:focus {
  border-color: #000;
  box-shadow: none;
}

#formulario-contacto textarea.form-control {
  height: auto;
  min-height: 40px;
  overflow: hidden;
}

#formulario-contacto .form-check-input {
  accent-color: #51443d;
  border-radius: 0;
  box-shadow: none !important;
}

#formulario-contacto .form-check-input:checked {
  background-color: #51443d;
  border-color: #51443d;
}

#formulario-contacto .form-check-input:focus {
  outline: none;
  box-shadow: none !important;
  border-color: #000;
}

#formulario-contacto .enviaCorreo {
  background-color: #51443d !important;
  border-radius: 0 !important;
  color: #fff !important;
  font-weight: 100 !important;
  padding: 0.6em 1.5em !important;
  border: none !important;
}

#formulario-contacto .enviaCorreo:hover {
  background-color: #463a34 !important;
}

.link {
  text-decoration: none;
}

.link:hover {
  text-decoration: underline !important;
}

.textoImagen {
  font-size: 3rem;
  width: 100%;
}

.mensaje-flotante {
  position: fixed;
  top: 20px;
  right: 20px;
  background-color: #4caf50;
  color: white;
  padding: 1rem 1.5rem;
  border-radius: 8px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
  z-index: 9999;
  animation: fadeInOut 3s forwards;
}

@keyframes fadeInOut {
  0% {
    opacity: 0;
    transform: translateY(-20px);
  }
  10%,
  90% {
    opacity: 1;
    transform: translateY(0);
  }
  100% {
    opacity: 0;
    transform: translateY(-20px);
  }
}

@media (max-width: 992px) {
  .textoImagen {
    font-size: 2.3rem !important;
  }
}

@media (max-width: 576px) {
  .textoImagen {
    font-size: 1.65rem !important;
  }

  .form-check-label {
    font-size: 0.65rem !important;
  }
}
