.fondoFooter {
  background-color: #f1f0ec !important;
  z-index: 0;
}

.container-fluid {
  z-index: 2;
  position: relative;
}

.linkFooter:hover {
  text-decoration: underline !important;
  text-underline-offset: 4px;
}

.social-icon {
  display: inline-block;
  transition: transform 0.3s ease;
}

.social-icon:hover {
  transform: scale(1.1);
}

.imagenSobresale {
  position: absolute;
  top: 1em;
  left: 3%;
  transform: translateX(-50%) rotate(-15deg);
  width: 20.9em;
  opacity: 25%;
  margin: 0;
  padding: 0;
  z-index: 1;
  pointer-events: none;
}

.custom-border-bottom {
  border-bottom: 0.5px solid rgba(0, 0, 0, 0.5);
  max-width: 80%;
  margin: 0 auto;
}


@media (max-width: 992px) {
  .imagenSobresale {
    position: absolute;
    top: 3.45em;
    left: 3%;
    transform: translateX(-50%) rotate(-25deg);
    width: 37em;
    opacity: 25%;
    margin: 0;
    padding: 0;
    z-index: 1;
    pointer-events: none;
  }
}

@media (max-width: 576px) {
  .imagenSobresale {
    position: absolute;
    top: 7em;
    left: 2%;
    transform: translateX(-50%) rotate(-25deg);
    width: 34em;
    opacity: 25%;
    margin: 0;
    padding: 0;
    z-index: 1;
    pointer-events: none;
  }
}
