.botonMarron {
    background-color: #51443D !important;
    border: none !important;
    border-radius: 0 !important;
    padding: 0.6em 0em !important;
    font-weight: 100 !important;
}

.botonMarron:hover {
    background-color: #463a34 !important;
}


